      - name: run-ml-pipeline
        run: |
          echo "Submitting pipeline job..."

          run_id=$(az ml job create \
            --file ${{ github.workspace }}/${{ inputs.parameters-file }} \
            --resource-group ${{ inputs.resource_group }} \
            --workspace-name ${{ inputs.workspace_name }} \
            --query name -o tsv)

          if [ -z "$run_id" ]; then
            echo "Job creation failed"
            exit 3
          fi

          echo "Run ID: $run_id"

          status="NotStarted"

          while true
          do
            status=$(az ml job show \
              -n $run_id \
              --resource-group ${{ inputs.resource_group }} \
              --workspace-name ${{ inputs.workspace_name }} \
              --query status -o tsv)

            echo "Current status: $status"

            if [[ "$status" == "Completed" ]]; then
              echo "Training completed successfully!"
              exit 0
            fi

            if [[ "$status" == "Failed" || "$status" == "Canceled" ]]; then
              echo "Training Job failed or canceled"
              exit 3
            fi

            sleep 20
          done