name: register-dataset

on:
  workflow_call:
    inputs:
      resource_group:
        required: true
        type: string
      workspace_name:
        required: true
        type: string
      name:
        required: true
        type: string
      data_file:
        required: true
        type: string
    secrets:
      creds:
        required: true

jobs:
  register-dataset:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: Az CLI login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.creds }}

      - name: install-extension
        run: az extension add -n ml -y

      - name: update-extension
        run: az extension update -n ml

      - name: create-dataset-from-file
        run: |
          echo "Registering data asset from: ${{ github.workspace }}/${{ inputs.data_file }}"
          az ml data create \
            --file "${{ github.workspace }}/${{ inputs.data_file }}" \
            --resource-group "${{ inputs.resource_group }}" \
            --workspace-name "${{ inputs.workspace_name }}"